*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a:link,a:visited{
    text-decoration: none;
    
}
.img{
    height: 160px;
    
}
p{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    transition: all 3s ease;
}
/* p:hover{
    white-space: normal;
    text-overflow: clip;
    overflow: visible;
} */
h4{
    height: 170px;
}
.green{
    outline: 1px solid green;
    border-radius: 5px;
    color:green;
}
.orange{
    outline: 1px solid orange;
    border-radius: 5px;
    color:orange;
}
.red{
    outline: 1px solid red;
    border-radius: 5px;
    color: red;
}